<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">


  <title>صفحه ورودبه سایت اصلی </title>

</head>

<body>
<div class=" center">
  <div class="container">
    <div class="border " style="text-align:center ; width: 50%">


      <legend>ورود به بخش آموزش</legend>

      <form class="center2" style="width: 70%">

        <div class="form-group  col-xl-12 ">
          <label style="width: 100%" class="text-right" for="inputEmail3">ایمیل</label>
          <input type="email" lang="en" dir="ltr" class="form-control" onkeypress="return /[a-z0-9]/i.test(event.key)"
                 oninvalid="this.setCustomValidity" id="inputEmail3">
        </div>

        <div class="form-group  col-xl-12  ">
          <label style="width: 100%" class="text-right" for="inputPassword3">رمز</label>
          <input type="password" class="form-control  " id="inputPassword3">
        </div>


        <div class="checkbox text-right col-xl-10  " style="width:100%">


          <label class="text-center  "> مرا به خاطر داشته باش <input type="checkbox"></label>
          <div>

            <label class="text-center    "> اگر ثبت نام نکردید <a class="stretched-link"
                                                                  href="http://localhost:57862/payment"> اینجا</a> را
              کلیک کنید</label>

          </div>
          <div class="text-right  ">
            <a role="button" class="btn btn-primary " href="http://localhost:57862/register"> ورود</a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
</body>

</html>

