.center {
  display: flex;
  background-color: #c199dc;
  justify-content: center;
  height: 300%;
  align-items: center ;
  vertical-align: middle;

}

.center2 {
  margin: 0 auto;
  width: 400px;

}

.border{
  background-color: #a979ac;
  border-width:3px !important;
  margin: 0 auto;
  width: 200px;
}
.move-right {
  width: 100%;
  box-shadow: none;
}
.checkbox{
  margin-left: 190px;
  line-height: 30px;
  margin-bottom: 20px;
}

