<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">


  <title>register </title>

</head>

<body >

<div class=" center">
  <div class="container">
    <div class="border " style="text-align:center; width: 50%">


      <legend>ورود به بخش آموزش</legend>

      <form class="center2" style="width: 70%">

        <div class="form-group  col-xl-12 ">
          <label style="width: 100%" class="text-right" for="inputEmail3">نام و نام خانوادگی</label>
          <input type="email" class="form-control  " id="inputname">
        </div>

        <div class="form-group  col-xl-12 ">
          <label style="width: 100%" class="text-right" for="inputEmail3">ایمیل</label>
          <input type="email" class="form-control" onkeypress="return /[a-z0-9]/i.test(event.key)"id="inputEmail3">
        </div>

        <div class="form-group  col-xl-12  ">
          <label style="width: 100%" class="text-right" for="inputPassword3">رمز</label>
          <input type="password" class="form-control  " id="inputPassword3">
        </div>

        <div class="form-group  col-xl-12  ">
          <label style="width: 100%" class="text-right" for="inputPassword3">تایید رمز</label>
          <input type="password" class="form-control  " id="conficPassword3">
        </div>


        <div class="checkbox  text-left ">

          <label class="text-right "> باقوانین موافقم <input type="checkbox"></label>

          <div class="text-right col-md-12">
            <a role="button" class="btn btn-primary  " href="http://localhost:4200">ثبت نام</a>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>

</html>

